@import url(../Fonts/css/nippo.css);

::selection {
  mix-blend-mode: difference;
  background-color: red;
  color: white;
}

/* || BODY BACKGROUND COLOR */
body,
html {
  background-color: black;
  cursor: none;
}

/* Cursor Ring */
.cursor__ring {
  display: none;
}
/* Cursor Ring Active */
.cursor__ring.active {
  scale: 0;
}

/* Grainy Noise */
.noise::before {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  content: "";
  opacity: 0.05;
  z-index: 2;
  pointer-events: none;
  background: url(../assets/gif/noise.gif);
}

/* ||NAVIGATION */
.hamburger__container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

/* Hamburger Lines */
.hamburger__lines {
  background-color: black;
  width: 40px;
  height: 3px;
}

/* ||NAVIGATION */
.hamburger__container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

/* Hamber Lines */
.hamburger__lines {
  background-color: black;
  width: 40px;
  height: 3px;
  transition: all 0.5s;
}

/* First Hamburger Line */
.hamburger__container > .hamburger__lines:nth-child(1).exit {
  transform-origin: left;
  transform: rotate(33deg);
}

/* Second Hamburger Line */
.hamburger__container > .hamburger__lines:nth-child(2).exit {
  transform: scale(0);
}

/* Third Hambergur Line */
.hamburger__container > .hamburger__lines:nth-child(3).exit {
  transform-origin: left;
  transform: rotate(-33deg);
}

/* Nav bar that contains navigation menu mobile features */
.nav__bar {
  width: 100%;
  position: fixed;
  z-index: 1;
  overflow: hidden;
  box-shadow: 0 1px 5px 0 black;
}

/* Navigation Mobile Container */
.nav__mobile__container {
  flex-basis: 250px;
  display: flex;
  justify-content: space-between;
}

/* Nav that contains mobile features*/
.nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Navigation */
.navigation {
  padding: 1rem 2rem;
  backdrop-filter: blur(5rem) saturate(200%);
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  transition: all 0.8s;
  flex-direction: column;
  height: 3vh;
}

/* Navigation Container */
.navigation.dropdown {
  height: 100vh;
}

/* Navigation Logo */
.navigation__logo {
  max-width: 3rem;
  cursor: pointer;
}

/* Navigation Container */
.navigation__container {
  display: none;
  transition: all 1s;
}

/* Navigation Container */
.navigation__container.dropdown {
  display: flex;
  gap: 5rem;
  align-items: center;
  flex-direction: column;
}

/* Navigation Menu */
.navigation__menu {
  font-family: monospace;
  font-weight: bold;
  font-size: 1rem;
}

/* Navigation Links */
.navigation__links {
  text-decoration: none;
  color: black;
  position: relative;
}

/* Navigation Links Before */
.navigation__links::before {
  content: "";
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background: black;
  height: 3px;
  width: 0%;
  border-radius: 12px;
  transition: all 300ms ease-in-out;
}

/* Navigation Links Hover Effect  */
.navigation__links:hover:before {
  width: 100%;
}

/* Navigation Dropdown */
.navigation.dropdown {
  height: 100vh;
}

/* Navigation Logo */
.navigation__logo {
  max-width: 3rem;
  cursor: pointer;
}

/* Navigation Container */
.navigation__container {
  display: none;
  transition: all 1s;
}

/* Navigation Container */
.navigation__container.dropdown {
  display: flex;
  /* margin-top: 10rem; */
  gap: 5rem;
  align-items: center;
  flex-direction: column;
}

/* Navigation Menu */
.navigation__menu {
  font-family: monospace;
  font-weight: bold;
  font-size: 1rem;
}

/* Navigation Links */
.navigation__links {
  text-decoration: none;
  color: black;
  position: relative;
}

/* Navigation Links Before */
.navigation__links::before {
  content: "";
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background: black;
  height: 3px;
  width: 0%;
  border-radius: 12px;
  transition: all 300ms ease-in-out;
}

/* Navigation Links Hover Effect  */
.navigation__links:hover:before {
  width: 100%;
}

/* About Preloader Overlay */
.about__preloader__overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 3;
  display: flex;
}

/* About Preloader Bars */

.about__preloader__bars {
  width: 15vw;
  height: 2000vw;
  background-color: white;
}

/* || ABOUT */
.about {
  padding-block: 5rem;
  width: 100%;
  min-height: 100vh;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 6rem;
  transition: all 2s;
}

/* Content Container */
.about__photo__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  position: relative;
}

/* About Photo */
.about__photo {
  overflow: hidden;
  margin-bottom: 1rem;
  width: 100%;
  max-width: 20rem;
  height: auto;
  border: 5px rgb(216, 123, 123) solid;
  color: white;
}

/* Content Title */
.about__text__container {
  display: flex;
  flex-direction: column;
  align-self: start;
  gap: 5rem;
  flex-basis: 500px;
  mix-blend-mode: difference;
  color: white;
  margin: 5rem 2rem 0 2rem;
}

/* About Text Header */
.about__text--header {
  font-family: "Nippo-bold";
  font-size: clamp(1rem, 4rem, 5rem);
  color: rgb(216, 123, 123);
}

/* About Text Subheader */
.about__text--subheader {
  font-family: "Nippo-medium";
  font-size: clamp(1rem, 2.5rem, 3.5rem);
  color: rgb(216, 123, 123);
}

/* About Text Paragraph */
.about__text--paragraph {
  margin-top: 0.5rem;
  font-family: monospace;
  font-size: clamp(10px, 15px, 15px);
  line-height: 120%;
}

/* || FOOTER */
.footer {
  background-color: rgb(216, 123, 123);
  min-height: 30vh;
}

/* footer list container that aligns just the list */
.footer__list {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  margin-bottom: 1rem;
}

/* Footer Information and links margin for mobile */
.footer__wrapper {
  margin: 4rem 1rem 1rem 1rem;
}

/* Footer container heading and pragraph */
.footer__brand--title {
  color: black;
  font-family: "Nippo-Medium";
  margin-bottom: 1rem;
  font-size: 30px;
}

/* Footer LinkedIn, Email, Github */
.footer__linkedin,
.footer__email,
.footer__github {
  display: block;
  gap: 0.3rem;
  text-decoration: none;
  color: black;
  font-family: monospace;
  cursor: pointer;
  font-size: 1.2rem;
  text-transform: capitalize;
  flex-wrap: wrap;
  transition: all 0.3s;
  word-wrap: break-word;
  margin-bottom: 1rem;
}

/* Footer LinkedIn, Email, Github Hover */
.footer__linkedin:hover,
.footer__email:hover,
.footer__github:hover {
  text-decoration: underline;
}

/* Footer title "links" */
.footer__links--title {
  color: black;
  font-family: "Nippo-Medium";
  margin-bottom: 1rem;
  font-size: 25px;
}

/* Footer links texts */
.footer__links {
  margin-bottom: 1rem;
}

/* Footer name of the links */
.footer__links--name {
  text-decoration: underline;
  color: black;
  font-family: monospace;
  font-size: 16px;
  transition: all 0.3s;
  padding-inline: 0.2rem;
}

/* Footer Links Name Hover Effect */
.footer__links--name:hover {
  background-color: black;
  color: white;
  text-decoration: none;
}

/* Copyright @ 2024 Aloha */
.copyright {
  color: black;
  font-family: "Nippo-Regular";
  display: flex;
  justify-content: center;
  padding-bottom: 2rem;
}

@media screen and (min-width: 768px) {
  /* Nav Bar */
  .nav__bar {
    top: 2%;
    left: 22%;
    border-radius: 40px;
    width: clamp(30rem, 50vw, 70vw);
  }
  /* Nav */
  .nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  /* Nav Bar */
  .nav__bar{
    top: 2%;
    left: 22%;
    border-radius: 40px;
    width: clamp(30rem, 50vw, 70vw);
  }

  /* Navigation */
  .navigation{
    padding: 1rem 3rem;
    flex-direction: row;
    justify-content: space-between;
  }

  /* Navigation Dropdown*/
  .navigation.dropdown{
    height: 3vh;
  }

  /* Navigation Container */
  .navigation__container{
    display: flex;
    align-items: center;
    gap: 2rem;
  }

  /* Navigation Container Dropdown */
  .navigation__container.dropdown{
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }

  /* Hambergur Container */
  .hamburger__container {
    display: none;
  }

  /* || ABOUT */
  .about {
    padding-block: 10rem;
  }

  /* Content Container */
  .about__photo__container {
    overflow: hidden;
    margin-right: 1rem;
  }

  /* About Text Container */
  .about__text__container {
    margin: 0 2rem 0 2rem;
  }
}

@media screen and (min-width: 1200px) {

  /* || CURSOR RING */
  .cursor__ring {
    display: block;
    position: fixed;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px white solid;
    background-color: transparent;
    mix-blend-mode: difference;
    pointer-events: none;
    z-index: 3;
  }

  /* X cursor */
  .cursor__ring > .cursor__ring__middle:nth-child(1) {
    background-color: white;
    position: absolute;
    top: 50%;
    left: 38%;
    transform: translate(-50% -50%);
    width: 10px;
    height: 2px;
  }

  /* Y Cursor */
  .cursor__ring > .cursor__ring__middle:nth-child(2) {
    background-color: white;
    position: absolute;
    top: 40%;
    left: 48%;
    transform: translate(-50% -50%);
    width: 2px;
    height: 10px;
  }

  /* Cursor Ring Active */
  .cursor__ring.active {
    scale: 1;
  }

  /* Nav Bar */
  .nav__bar {
    top: 2%;
    left: 24%;
    border-radius: 40px;
    width: clamp(10rem, 50vw, 70vw);
  }

  /* Nav */
  .nav{
    flex-direction: row;
    align-items: center;
  }

  /* Navigation */
  .navigation{
    padding: 1rem 3rem;
    flex-direction: row;
    margin-top: 0;
    justify-content: space-between;
  }

  /* Navigation Dropdown */
  .navigation.dropdown{
    height: 3vh;
  }

  /* Navigation Container */
  .navigation__container{
    display: flex;
    align-items: center;
    gap: 2rem;
  }

  /* Navigation Container Dropdown */
  .navigation__container.dropdown{
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }

  /* Hambergur Container */
  .hamburger__container {
    display: none;
  }

  /* || ABOUT  */
  .about {
    padding-block: 10rem;
  }

  /* Content Container */
  .about__photo__container {
    overflow: hidden;
  }

  /* About Text Container */
  .about__text__container {
    margin: 0;
  }

  /* Footer List */
  .footer__list {
    flex-direction: row;
    align-items: center;
  }
}
