/* || KEYFRAMES ANIMATION */
@keyframes typing {
  from{
    width: 0;
  }
}

@keyframes cursor {
  50% {
    border-color: white;
  }
}

@keyframes heroslider {
  from{
    transform: translateX(5000px);
    background: white;
  }
  to{
    
  }
}

@keyframes slider{
  from{
    transform: translateX(0) rotate(40deg);
  }
  to{
    transform: translateX(-100%) rotate(40deg);
  }
}
