@media screen and (min-width: 768px) {
  .navigation{
    padding: 1rem 3rem;
    position: fixed;
    top: 1%;
    left: 20%;
    z-index: 2;
    transform: clamp(-50% -50%);
    width: clamp(10rem, 50vw, 70vw);
    mix-blend-mode: difference;
    background-color: white;
    border: 1px white solid;
    border-radius: 40px;
    display: flex;
    justify-content: space-between;
  }

  .navigation__links{
    display: block;
  }

  .hero__title__container{
    margin-inline: 5rem;
    margin-top: 10rem;
  }

  .hero__box{
    margin-inline: 5rem;
    margin-bottom: 5rem;
  }

  /* Content Container */
  .about__container{
    overflow: hidden;
    opacity: 0;
    transform: translateX(5rem);
    transition: all 1s;
  }

  /* Content Container Scroll Trigger Animation */
  .about__container.visible{
    opacity: 1;
    transform: translateX(0);
  }

  .about__text__container{
    transform: translateX(-20rem);
    opacity: 0;
    transition: all 1s;
    margin: 5rem 2rem 0 2rem;
  }

  .about__text__container.visible{
    opacity: 1;
    transform: translateX(0);
  }
}

@media screen and (min-width: 1000px) {
  .about__text__container{
    margin: 0;
  }
}

@media screen and (min-width: 1200px) {

  .cursor__ring{
    display: block;
    position: fixed;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: white;
    mix-blend-mode: difference;
    pointer-events: none;
    transition: all 90ms;
  }
  .cursor__ring.active{
    scale: 1;
  }
  
  .navigation{
    padding: 1rem 3rem;
    position: fixed;
    top: 2%;
    left: 26%;
    z-index: 2;
    transform: clamp(-50% -50%);
    width: clamp(10rem, 40vw, 60vw);
    mix-blend-mode: difference;
    background-color: white;
    border: 1px white solid;
    border-radius: 40px;
    display: flex;
    justify-content: space-between;
  }

  .navigation__links{
    display: block;
  }


  .preloader__container{
    margin-left: 3.3rem;
  }

  .hero{
    gap: 5rem;
  }

  .hero__title__container{
    margin: 0 0 0 1rem;
  }

  .hero__text{
    border-right: 3px black solid;
    word-break:normal;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    animation: 
    typing 4s steps(46) 6s infinite alternate,
    cursor .4s step-end infinite alternate;
  }

  .hero__box{
    margin: 0 0 0 5rem;
  }

/* Content Container */
.about__container{
  overflow: hidden;
  opacity: 0;
  transform: translateX(20rem);
  transition: all 2.5s;
}

/* Content Container Scroll Trigger Animation */
.about__container.visible{
  opacity: 1;
  transform: translateX(0);
}

.about__text__container{
  transform: translateX(-20rem);
  opacity: 0;
  margin:0;
  transition: all 2.5s;
}

.about__text__container.visible{
  opacity: 1;
  transform: translateX(0);
}

}