
@media screen and (min-width: 768px) {
 
  /* Hamburger Container */
  .hamburger__container{
    display: none;
  }
  
  /* navigation Bar */
  .nav__bar{
    top: 2%;
    left: 22%;
    border-radius: 40px;
    width: clamp(30rem, 50vw, 70vw);
  }

  /* Navigation that contains mobile navigation menu features*/
  .nav{
    flex-direction: row;
    align-items: center;
  }

  /* Navigation */
  .navigation{
    background-color: rgba(255, 255, 255, 0.8);
    padding: 1rem 3rem;
    flex-direction: row;
    justify-content: space-between;
  }

  /* Navigation dropdown for Tablets */
  .navigation.dropdown{
    height: 3vh;
  }

  /* Navigation Container */
  .navigation__container{
    display: flex;
    align-items: center;
    gap: 2rem;
  }

  /* Navigation Container for tablets*/
  .navigation__container.dropdown{
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }

  /* Hero Title Container */
  .hero__title__container{
    margin-block: 5rem 2rem;
  }

    /* Content Container */
  .about__photo__container{
    overflow: hidden;
    opacity: 0;
    transform: translateX(5rem);
    transition: all 1s;
  }

  /* Content Container Scroll Trigger Animation */
  .about__photo__container.visible{
    opacity: 1;
    transform: translateX(0);
  }

  /* About Photo */
  .about__photo{
    max-width: 15rem;
  }

  /* About Text Container */
  .about__text__container{
    transform: translateX(-20rem);
    opacity: 0;
    transition: all 1s;
    margin: 5rem 2rem 0 2rem;
  }

  /* About Text Container when visible */
  .about__text__container.visible{
    opacity: 1;
    transform: translateX(0);
  }

  /* Project Items */
  .projects__items{
    border-radius: 1rem;
  }

  /* Project Images */
  .projects__image{
    border-radius: 0.75rem;
  }

  /* Footer List */
  .footer__list{
    flex-direction: row;
    align-items: center;
  }

}

@media screen and (min-width: 820px) {

  /* hero Title Container */
  .hero__title__container{
    margin-block: 0 2rem;
  }

}

@media screen and (min-width: 1000px) {
  /* About Text Container */
  .about__text__container{
    margin: 0;
  }
}

@media screen and (min-width: 1200px) {

    /* Preloader Container */
    .preloader__container{
      margin-left: 3.3rem;
    }

  /* Cursor Ring for Desktops */
  .cursor__ring{
    display: block;
    position: fixed;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px white solid;
    background-color: transparent;
    mix-blend-mode: difference;
    pointer-events: none;
    z-index: 3;
  }

  /* First Cursor X-Axis */
  .cursor__ring > .cursor__ring__middle:nth-child(1){
    background-color: white;
    position: absolute;
    top: 50%;
    left: 38%;
    transform: translate(-50% -50%);
    width: 10px;
    height: 2px;
  }

  /* Second Cursor Y-Axis */
  .cursor__ring > .cursor__ring__middle:nth-child(2){
    background-color: white;
    position: absolute;
    top: 40%;
    left: 48%;
    transform: translate(-50% -50%);
    width: 2px;
    height: 10px;
  }
  
  /* Cursor Ring Active */
  .cursor__ring.active{
    scale: 1;
  }

  /* Haburger Container */
  .hamburger__container{
    display: none;
  }
  
  /* Navigation Bar */
  .nav__bar{
    top: 2%;
    left: 24%;
    border-radius: 40px;
    width: clamp(10rem, 50vw, 70vw);
  }
  
  /* Nav for desktops */
  .nav{
    flex-direction: row;
    align-items: center;
  }

  /* Navigation */
  .navigation{
    background-color: rgba(255, 255, 255, 0.8);
    padding: 1rem 3rem;
    flex-direction: row;
    margin-top: 0;
    justify-content: space-between;
  }

  /* Navigation for desktops */
  .navigation.dropdown{
    height: 3vh;
  }

  /* Navigation Container */
  .navigation__container{
    display: flex;
    align-items: center;
    gap: 2rem;
  }

  /* Navigation Container for desktops */
  .navigation__container.dropdown{
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }

  /* || HERO */
  .hero{
    gap: 5rem;
  }

  /* Hero Text */
  .hero__text{
    border-right: 3px black solid;
    word-break:normal;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    animation: 
    typing 3s steps(20) 2.8s infinite alternate,
    cursor .4s step-end infinite alternate;
  }

  /* Hero Button */
  .hero__button{
    display: block;
    position: absolute;
    bottom: 5%;
    right: 50%;
    transform: translate(-50% -50%);
    cursor: pointer;
  }
  
    /* Content Container */
  .about__photo__container{
    overflow: hidden;
    opacity: 0;
    transform: translateX(8rem);
    transition: all 1s;
  }

  /* Content Container Scroll Trigger Animation */
  .about__photo__container.visible{
    opacity: 1;
    transform: translateX(0);
  }

  /* About Photo */
  .about__photo{
    max-width: 15rem;
  }

  /* About Text Container */
  .about__text__container{
    transform: translateX(-8rem);
    opacity: 0;
    margin:0;
    transition: all 1s;
  }

  /* About Text Container when visible */
  .about__text__container.visible{
    opacity: 1;
    transform: translateX(0);
  }

    /* About Button Container */
  .about__button__container{
    margin-block: 1rem;
  }

  /* Project Items */
  .projects__items{
    border-radius: 1rem;
  }

  /* Project Images */
  .projects__image{
    border-radius: 0.75rem;
  }

  /* Footer Container (li) */
  .footer__list{
    flex-direction: row;
    align-items: center;
  }

}