@media screen and (min-width: 768px) {
  
}

@media screen and (min-width: 1200px) {
  .preloader__container{
    margin-left: 3.3rem;
  }

  .preloader__text{
    letter-spacing: 10px;
  }

  .hero__title{
    letter-spacing: 10px;
  }

  .content__title{
    letter-spacing: 10px;
  }

}