/* || BODY BACKGROUND COLOR */
body,html{
  background-color: black;
}

/* Cursor Ring */
.cursor__ring{
  position: fixed;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: white;
  mix-blend-mode: difference;
  pointer-events: none;
  transition: all 90ms;
}
/* Cursor Ring Active */
.cursor__ring.active{
  scale: 1;
}

/* || PRELOADER */
.preloader{
  overflow: hidden;
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(270deg, rgba(255,255,255,1) 51%, rgba(0,0,0,1) 51%);
  z-index: 3;
}

/* Preloader Container */
.preloader__container{
  display: inline-block;
  margin-left: 0.94rem;
}

/* Preloader Text */
.preloader__text{
  mix-blend-mode: difference;
  color: white;
  text-align: center;
  font-family: monospace;
  font-size: clamp(1rem, 6vw, 7vw);
  letter-spacing: 2px;
  line-height: normal;
  border-right: 7px black solid;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  animation: 
  typing 5s steps(15),
  cursor .4s step-end infinite alternate;
}

/* || HERO */
.hero{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;

}

/* Hero Title Container */
.hero__title__container{
  display: flex;
  flex-direction: column;
  margin-right: 5rem;
  gap: 1rem;
}

/* Hero Subheader */
.hero__subheader{
  font-family: monospace;
  font-weight: bold;
  font-size: clamp(1rem, 2.5vw, 3vw);
  color: grey;
  letter-spacing: 2px;
}

/* Hero Header */
.hero__header{
  font-family: monospace;
  font-weight: bold;
  font-size: clamp(1rem, 4vw, 5vw);
  color: black;
  letter-spacing: 2px;
}

/* Hero text */
.hero__text{
  font-size: 1.5rem;
  font-family: monospace;
  font-weight: bold;
  color: black;
  letter-spacing: 2px;
  border-right: 3px black solid;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  animation: 
  typing 4s steps(46) 6s infinite alternate,
  cursor .4s step-end infinite alternate;
}

/* Hero Box */
.hero__box{
  margin-left: 5rem;
  width: 20rem;
  height: 20rem;
  background-color: black;
}

/* Hero Button */
.hero__button{
  position: absolute;
  bottom: 5%;
  right: 50%;
  transform: translate(-50% -50%);
  cursor: pointer;
}

/* Hero Scroll Arrows */
.hero__button--arrows{
  mix-blend-mode: difference;
  display: block;
  width: 20px;
  height: 20px;
  border-bottom: 1.5px solid white;
  border-right: 1.5px solid white;
  transform: rotate(45deg);
  margin: -8px;
  animation: arrowsScrollIndicator 1s infinite linear;
}

/* Hero Scroll Arrow Span 1 */
.hero__button > .hero__button--arrows:nth-child(1){
  animation-delay: 0.2s;
}

/* Hero Scroll Arrow Span 2 */
.hero__button > .hero__button--arrows:nth-child(2){
  animation-delay: 0.3s;
}

/* Hero Scroll Arrow Span 3 */
.hero__button > .hero__button--arrows:nth-child(3){
  animation-delay: 0.4s;
}

/* || CONTENT */
.content{
  height: 100vh;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* Content Container */
.content__container{
  opacity: 0;
  transform: scale(0.9);
  transition: all 2s;
}

/* Content Container Scroll Trigger Animation */
.content__container.visible{
  opacity: 1;
  transform: scale(1.1);
}

/* Content Title */
.content__title{  
  color: white;
  text-align: center;
  font-family: monospace;
  font-weight: bold;
  font-size: clamp(1rem, 4vw, 5vw);
  letter-spacing: 2px;
}

/* || PROJECTS */
.projects{
  height: 100vh;
}

