@import url(../Nippo_Complete/Fonts/WEB/css/nippo.css);

/* || BODY BACKGROUND COLOR */
body,html{
  background-color: black;
}

/* Cursor Ring */
.cursor__ring{
  display: none;
}
/* Cursor Ring Active */
.cursor__ring.active{
  scale: 0;
}

/* ||NAVIGATION */
.navigation{
  padding: 1rem 3rem;
  position: fixed;
  z-index: 2;
  transform: clamp(-50% -50%);
  width: 100%;
  mix-blend-mode: difference;
  background-color: white;
  display: flex;
  justify-content: space-between;
}

/* Navigation Logo */
.navigation__logo{
  max-width: 3rem;
  cursor: pointer;
}

/* Navigation Container */
.navigation__container{
  display: flex;
  align-items: center;
  gap: 2rem;
}

/* Navigation Menu */
.navigation__menu{
  font-family: monospace;
  font-weight: bold;
  font-size: 1rem;
}

/* Navigation Links */
.navigation__links{
  display: none;
  text-decoration: none;
  color: white;
  mix-blend-mode: difference;
  position: relative;
}

/* Navigation Links Before */
.navigation__links::before{
  content: '';
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  mix-blend-mode: difference;
  background: white;
  height: 3px;
  width: 0%;
  border-radius: 12px;
  transition: all 300ms ease-in-out;
}

/* Navigation Links Hover Effect  */
.navigation__links:hover:before{
  width: 100%;
}

/* || PRELOADER */
.preloader{
  overflow: hidden;
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(270deg, rgba(255,255,255,1) 51%, rgba(0,0,0,1) 51%);
  z-index: 3;
}

/* Preloader Container */
.preloader__container{
  display: inline-block;
  margin-left: 0.94rem;
}

/* Preloader Text */
.preloader__text{
  mix-blend-mode: difference;
  color: white;
  text-align: center;
  font-family: "Nippo-Bold";
  font-size: clamp(2rem, 6vw, 7vw);
  letter-spacing: clamp(5px, 8px, 15px);
  line-height: normal;
  border-right: 1rem black solid;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  animation: 
  typing 5s steps(15),
  cursor .4s step-end infinite alternate;
}

/* || HERO */
.hero{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  flex-wrap: wrap;
}

/* Hero Title Container */
.hero__title__container{
  margin-top: 6rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-inline: clamp(1rem, 3rem, 5rem);
}

/* Hero Header */
.hero__header{
  font-family: "Nippo-Medium";
  font-weight: bold;
  font-size: clamp(2rem, 4vw, 5vw);
  color: black;
  letter-spacing: 5px;
  margin-left: -5px;
}

/* Hero Subheader */
.hero__subheader{
  font-family: "Nippo-regular";
  font-weight: bold;
  font-size: clamp(1rem, 2.5vw, 3vw);
  color: grey;
  letter-spacing: 5px;
}

/* Hero text */
.hero__text{
  font-size: clamp(0.75rem, 1.3rem, 1.75rem);
  font-family: monospace;
  font-weight: bold;
  color: black;
  letter-spacing: 2px;
  animation: none;
}

/* Hero Box */
.hero__box{
  overflow: hidden;
  margin-inline: 1rem; 
  width: 20rem;
  height: 20rem;
  background-color: black;
  margin-bottom: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero__box__container{
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.hero__box--vector{
  overflow: hidden;
  mix-blend-mode: difference;
  width: 50rem;
  height: 20px;
  background-color: white;
  transform: rotate(-50deg);
  animation-timing-function: cubic-bezier(0.32, 0.86, 0.81, 0.12);
  animation: slider 10s infinite;
}

.hero__box__container > .hero__box--vector:nth-child(1){
  animation-delay: 0.2s;
}

.hero__box__container > .hero__box--vector:nth-child(2){
  animation-delay: 0.3s;
}

.hero__box__container > .hero__box--vector:nth-child(3){
  animation-delay: 0.4s;
}

.hero__box__container > .hero__box--vector:nth-child(4){
  animation-delay: 0.5s;
}

.hero__box__container > .hero__box--vector:nth-child(5){
  animation-delay: 0.6s;
}

.hero__box__container > .hero__box--vector:nth-child(6){
  animation-delay: 0.7s;
}

.hero__box__container > .hero__box--vector:nth-child(7){
  animation-delay: 0.8s;
}

.hero__box__container > .hero__box--vector:nth-child(8){
  animation-delay: 0.9s;
}

.hero__box__container > .hero__box--vector:nth-child(9){
  animation-delay: 0.10s;
}



/* Hero Button */
.hero__button{
  position: absolute;
  bottom: 5%;
  right: 50%;
  transform: translate(-50% -50%);
  cursor: pointer;
}

/* Hero Scroll Arrows */
.hero__button--arrows{
  mix-blend-mode: difference;
  display: block;
  width: 20px;
  height: 20px;
  border-bottom: 1.5px solid white;
  border-right: 1.5px solid white;
  transform: rotate(45deg);
  margin: -8px;
  animation: arrowsScrollIndicator 1s infinite linear;
}

/* Hero Scroll Arrow Span 1 */
.hero__button > .hero__button--arrows:nth-child(1){
  animation-delay: 0.2s;
}

/* Hero Scroll Arrow Span 2 */
.hero__button > .hero__button--arrows:nth-child(2){
  animation-delay: 0.3s;
}

/* Hero Scroll Arrow Span 3 */
.hero__button > .hero__button--arrows:nth-child(3){
  animation-delay: 0.4s;
}

/* || CONTENT */
.content{
  height: 100vh;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* Content Container */
.content__container{
  opacity: 0;
  transform: scale(0.9);
  transition: all 2s;
}

/* Content Container Scroll Trigger Animation */
.content__container.visible{
  opacity: 1;
  transform: scale(1.1);
}

/* Content Title */
.content__title{  
  color: white;
  text-align: center;
  font-family: monospace;
  font-weight: bold;
  font-size: clamp(1rem, 4vw, 5vw);
  letter-spacing: 2px;
}

/* || PROJECTS */
.projects{
  height: 100vh;
}

