/* || VARIABLES */
:root{
  
}

/* || KEYFRAMES ANIMATION */
@keyframes typing {
  from{
    width: 0;
  }
}

@keyframes cursor {
  50% {
    border-color: white;
  }
}

/* || PRELOADER */
.preloader{
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(270deg, rgba(255,255,255,1) 51%, rgba(0,0,0,1) 51%);
}

/* Preloader Container */
.preloader__container{
  display: inline-block;
  margin-left: 0.94rem;
}

/* Preloader Text */
.preloader__text{
  mix-blend-mode: difference;
  color: white;
  text-align: center;
  font-family: monospace;
  font-size: clamp(0.8rem, 6vw, 7vw);
  letter-spacing: 2px;
  line-height: normal;
  border-right: 7px black solid;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  animation: 
  typing 5s steps(15),
  cursor .4s step-end infinite alternate;
}

.box{
  width: 50px;
  height: 50px;
  background-color: red;
  border-radius: 5px;
  display: block;
}

/* || HERO */

.hero{
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero__title{
  line-height: 110%;
  font-family: monospace;
  font-weight: bold;
  font-size: clamp(0.8rem, 4vw, 5vw);;
  color: black;
  letter-spacing: 2px;
}

/* || CONTENT */

.content{
  background-color: black;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content__container{
  display: inline-block;
}


.content__title{  
  color: white;
  text-align: center;
  font-family: monospace;
  font-size: clamp(0.8rem, 4vw, 5vw);
  letter-spacing: 2px;
}

/* || PROJECTS */
.projects{
  height: 100vh;
}

